<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mobileVibes" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mobileVibes" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mobileVibes" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mobileVibes" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MobileVibes</title>
  <meta name="description" content="A mobile ui for jellyvibes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="static/font-awesome-4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/core.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="static/js/jquery-2.1.1.min.js"></script>
</head>
<body>
<!--   <ul class="menu">
    <li><a href="#/browse">Browse</a></li>
    <li><a href="#/jam">Jam</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<!-- 
  <div class="content-main" ng-view></div> -->

 <!-- <script type="text/ng-template" id="/login.html">
    <p>This is the partial for Login View.</p>
  </script>
  <script type="text/ng-template" id="/browse.html">
    <div class="browse-wrap" ng-controller="Friends">
      <strong>My Friends:</strong>
      <ul class="friends-list">
        <li ng-repeat="friend in friends">
          <button ng-click="/jam/{{friend.username}}"><span class="friend-name">{{friend.name}}</span> - <span class="friend-location">{{friend.location}}</span></button>
        </li>
      </ul>
    </div>
  </script>-->

<!--<script type="text/ng-template" id="/jam.html">-->
  <div class="jam-wrap">
  <div class="jam-panel" id="jam-video">
    <video width="100%" id="stream-target"></video>
  </div>
  <div ng-swipeRight="panelSwipe('jam-settings')" ng-controller="Instruments" class="jam-panel" id="jam-instrument">
    <ul class="instrument-grid">
      <li ng-repeat="instrument in instruments" class="instrument-button" id="{{ instrument.id }}">
        <button ng-click="triggerInstrument('mine', '{{instrument.id}}')"></button>
      </li>
    </ul>
  </div>
  <div ng-swipeLeft="panelSwipe('jam-instruments')" class="jam-panel hidden" id="jam-settings">
    <button class="close-session" ng-click="closeSession()"></button>
  </div>
  <ul class="sample-pool" id="mine">
    <li><audio class="hihat" src="static/sounds/hihats.ogg"></audio></li>
    <li><audio class="snare" src="static/sounds/snare.ogg"></audio></li>
    <li><audio class="tom" src="static/sounds/tom.ogg"></audio></li>
    <li><audio class="kick" src="static/sounds/kick.ogg"></audio></li>
  </ul>
  <ul class="sample-pool" id="theirs">
    <li><audio class="hihat" src="static/sounds/hihats.ogg"></audio></li>
    <li><audio class="snare" src="static/sounds/snare.ogg"></audio></li>
    <li><audio class="tom" src="static/sounds/tom.ogg"></audio></li>
    <li><audio class="kick" src="static/sounds/kick.ogg"></audio></li>
  </ul>
</div>
<!--</script>-->




<!-- <a ng-click="currentTpl='/browse.html'" id="tpl-link">Browse</a>
<a ng-click="currentTpl='/jam.html'" id="tpl-link">Jam</a>
<a ng-click="currentTpl='/login.html'" id="tpl-link">Login</a>


<div id="tpl-content" ng-include src="currentTpl"></div> -->




  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="services.js"></script>
  <script src="app.js"></script>
  <script src="login/login.js"></script>
  <script src="browse/browse.js"></script>
  <script src="jam/jam.js"></script>

  <!--<script src="static/js/buffer-loader.js"></script>-->
  <script>
  var noteNode = [], 
    context = new (window.AudioContext || window.webkitAudioContext || window.mozAudioContext || window.oAudioContext || window.msAudioContext)();
   // contextArray = ['static/sounds/hihats.ogg','static/sounds/snare.ogg','static/sounds/tom.ogg','static/sounds/kick.ogg']
   // finishedLoading = function(bufferList) {
      //store audio elements in an array in noteNode
    //  noteNode[0] = bufferList
    //  noteNode[1] = bufferList
   // }
  // bufferLoader = new BufferLoader(
  //     context,
  //     contextArray,
  //     finishedLoading
  // );

  // bufferLoader.load()
  </script>
</body>
</html>
